/* eventually serve manually - 
 https://fonts.google.com/specimen/Poppins?preview.text=What%20I%27m%20most%20proud%20of:&preview.text_type=custom&query=poppins#standard-styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800;900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  font-weight:600;
  width: auto;
  background-color: white;
}
video {
  max-width: 93%;
}

/* project specific */
.project {
  transition: all .2s ease-in-out;
}
.project:hover {
  transform: scale(1.05);
}
.proj-left {
  position: relative;
  left: 20vw;
}
.proj-right {
  position: relative;
  right: 20vw;
}
.project-img {
  height: 30vh;
  object-fit: contain;
}

h2 {
  color: black;
  filter: drop-shadow(0.07em 0.07em white);
}