/* eventually serve manually - 
 https://fonts.google.com/specimen/Poppins?preview.text=What%20I%27m%20most%20proud%20of:&preview.text_type=custom&query=poppins#standard-styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800;900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  font-weight:600;
  width: auto;
  background-color: white;
}

video {
  max-width: 93%;
}
a{
  color: black;
  text-decoration: none;
}
.filter-toolbar {
  background-color: white;
}
.grow {
  transform: scale(0.97);
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.00);
  color:#8a2be2;
}
.header {
  color:white;
  background-color: black;
}

.position-sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 5vh;
  bottom: auto;
}

.project:nth-child(odd) h2 {
  position: relative !important;
  filter: drop-shadow(0.07em 0.07em white);
  text-align: left !important;
  order: -1 !important;
  -webkit-order: -1 !important;
  left: 20vw;
}

.project:nth-child(even) h2 {
  position: relative !important;
  filter: drop-shadow(0.07em 0.07em white);
  text-align: right !important;
  right: 20vw;
}

.project:nth-child(even) div.col {
  text-align: right !important;
  order: -1 !important;
  -webkit-order: -1 !important;
}

.project div img {
  height: 25vh;
  object-fit: contain;
}

.hide {
  display: none;
}